@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #F7F7F7;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* Header */
.navbar-inverse{
    background-color: #004925;
  border-color: #004925;
  form {
    margin-top:10px;
  }
  label {
    color:#9d9d9d;
  }
  span {
    font-size: 0.75em;
  }
  text {
    color:#9d9d9d;
  }
  li {
    color: #9d9d9d;
  }
}


#text {
  margin-top: 10px;
}



#logo {
  box-sizing: border-box;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  text-align: center;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color:#555;
}

footer a:hover{
  color:#222;
}

footer small {
  text-align: center;
}

footer ul {
  float: right;
  list-style: none;
  margin-right: 10px;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float:left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
  }


input{
  height : auto !important;
}

#error_explanation{
  color:red;
  ul {
    color:red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}